.body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}

#foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 100;
  background: #000000;
  color: white;
  text-align: center;
}

#foot a {
  color: rgb(255, 36, 36);
  text-decoration: none;
}

#foot a:hover {
  color: red;
  text-decoration: none;
}
