body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}

.p {
  font-size: 75px;
}

.e {
  position: absolute;
  margin-left: 50%;

  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 25%;
}

#btn1 {
  position: fixed;
  top: 70%;
  left: 55%;
  padding: 10px;
  height: 40px;
  width: 150px;
  background-color: rgb(34, 255, 30);
  transform: translate(-50%, -50%);
  content: "";
  border-radius: 10rem;
  font-family: Verdana, sans-serif;
  display: inline-block;
}

#btn2 {
  position: absolute;
  transition: 0.5s;
  background-color: rgb(255, 30, 30);
  top: 70%;
  left: 45%;
  padding: 10px;
  height: 40px;
  transform: translate(-50%, -50%);
  width: 150px;
  content: "";
  font-family: Verdana, sans-serif;
  border-radius: 10rem;
}
